USE [master]
GO
/****** Object:  Database [crud]    Script Date: 02/11/2024 12:05:20 ******/
CREATE DATABASE [crud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSQLRIO\MSSQL\DATA\crud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'crud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSQLRIO\MSSQL\DATA\crud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crud]
GO
/****** Object:  Table [dbo].[todos]    Script Date: 02/11/2024 12:05:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[todos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[judul] [varchar](255) NOT NULL,
	[deskripsi] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
